@(
	tag: String,
	alerts: List[com.lucidchart.open.nark.models.records.Alert]
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	userOption: Option[com.lucidchart.open.nark.models.records.User]
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper.twitterBootstrap._
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Tag", userOption = userOption) {
	<h3>Alerts tagged with "@tag"</h3>

	@if(alerts.isEmpty) {
		<p class="lead text-info">There are no alerts with this tag.</p>
	} else {
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Target</th>
					<th>Error</th>
					<th>Warn</th>
					<th>Comparison</th>
					<th>State</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
				@alerts.sortWith(_.name < _.name).map { alert =>
					<tr>
						<td><a href="@narkRoutes.AlertsController.view(alert.id)">@alert.name</a></td>
						<td>@alert.target</td>
						<td>@alert.errorThreshold</td>
						<td>@alert.warnThreshold</td>
						<td>@alert.comparison</td>
						<td>@alert.state.toString</td>
						<td>@alert.active</td>
					</tr>
				}
			</tbody>
		</table>
	}
}