@(
	title: String,
	scripts: List[String] = List(),
	styles: List[String] = List()
)(
	content: Html
)(
	implicit request: com.lucidchart.open.nark.request.AppRequest[_]
)

<!DOCTYPE HTML>
<html>
	<head>
		<title>@title</title>
		<meta charset="utf-8">

		@for(style <- styles) {
			<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/" + style)" />
		}
	</head>
	<body>
		@content

		@* JS at the end so the page renders faster (except jquery because we use the onload wrapper all over) *@
		@for(script <- scripts) {
			<script type="text/javascript" src="@routes.Assets.at("js/" + script)"></script>
		}
	</body>
</html>
