@(
	title: String,
	scripts: List[String] = List(),
	styles: List[String] = List(),
	userOption: Option[com.lucidchart.open.nark.models.records.User] = None
)(
	content: Html
)(
	implicit request: RequestHeader
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.utils.DashboardHistory
@import com.lucidchart.open.nark.utils.AppVersioning

<!DOCTYPE HTML>
<html>
	<head>
		<title>@if(!title.isEmpty){ @title | } Nark</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/main.css")" />
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("jquery-ui-1.10.3/core/themes/base/minified/jquery-ui.min.css")" />
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("bootstrap-2.3.2/css/bootstrap.min.css")" />
		<style>
			body {
				padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
			}
			.flash-container div {
				margin-top: 10px;
			}
			#legend {
				position: absolute;
				z-index:100;
				background-color: #ffffff;
				opacity:1.0;
				-webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 1);
				-moz-box-shadow:    0px 0px 17px rgba(50, 50, 50, 1);
				box-shadow:         0px 0px 17px rgba(50, 50, 50, 1);
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			#legend > span.highlight {
				border: 1px solid #000000;
			}
			#legend > span {
				padding-left: 5px;
				padding-right: 5px;
				display: inline-block;
				overflow-x:auto;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("bootstrap-2.3.2/css/bootstrap-responsive.min.css")" />

		@for(style <- styles) {
			<link rel="stylesheet" type="text/css" href="@routes.Assets.at(style)" />
		}

		<script type="text/javascript" src="@routes.Assets.at("js/jquery-2.0.3.min.js")"></script>

		<!--[if lt IE 9]>
		<script type="text/javascript">
			document.createElement('header');
			document.createElement('nav');
			document.createElement('section');
			document.createElement('figure');
			document.createElement('article');
			document.createElement('footer');
		</script>
		<![endif]-->
		
	</head>
	<body>
		<div id="legend"></div>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="@narkRoutes.HomeController.index()">
						<img src="@routes.Assets.at("img/nark-brand.png")" alt="Nark" title="Nark">
					</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboards <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="@narkRoutes.DashboardsController.create">Create a Dashboard</a></li>
									<li class="divider"></li>
									<li><a href="@narkRoutes.DashboardsController.search()">Search by Name</a></li>
									<li><a href="@narkRoutes.DashboardTagsController.search()">Search by Tag</a></li>
									<li><a href="@narkRoutes.DashboardsController.deleted()">Recover Deleted</a></li>
									@defining(DashboardHistory.getHistory()) { history =>
										@if(!history.isEmpty) {
											<li class="divider"></li>
											@history.map { item =>
												<li><a href="@narkRoutes.DashboardsController.dashboard(item.url)">@item.name</a></li>
											}
										}
									}
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Alerts <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="@narkRoutes.AlertsController.create">Create an Alert</a></li>
									<li class="divider"></li>
									<li><a href='@narkRoutes.AlertsController.search("")'>Search by Name</a></li>
									<li><a href='@narkRoutes.AlertTagsController.search("")'>Search by Tag</a></li>
									<li><a href="@narkRoutes.AlertsController.deleted()">Recover Deleted</a></li>
									<li class="divider"></li>
									<li><a href="@narkRoutes.AlertsController.active()">Active Alerts</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dynamic Alerts <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="@narkRoutes.DynamicAlertsController.create()">Create a Dynamic Alert</a></li>
									<li class="divider"></li>
									<li><a href='@narkRoutes.DynamicAlertsController.search("")'>Search by Name</a></li>
									<li><a href="@narkRoutes.DynamicAlertTagsController.search("")">Search by Tag</a></li>
									<li><a href="@narkRoutes.DynamicAlertsController.deleted()">Recover Deleted</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hosts <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="@narkRoutes.HostsController.search()">Search by Name</a></li>
									<li><a href="@narkRoutes.HostsController.buildGraphiteTarget()">Target Builder</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav pull-right">
							@if(userOption.isDefined) {
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">@userOption.get.name <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href='@narkRoutes.SubscriptionsController.allSubscriptionsForUser()'>Alert Subscriptions</a></li>
										<li><a href='@narkRoutes.TagSubscriptionsController.allSubscriptionsForUser()'>Alert Tag Subscriptions</a></li>
										<li class="divider"></li>
										<li><a href="@narkRoutes.SubscriptionsController.allDynamicAlertSubscriptionsForUser()">Dynamic Alert Subscriptions</a></li>
										<li><a href="@narkRoutes.DynamicAlertTagSubscriptionsController.allSubscriptionsForUser()">Dynamic Alert Tag Subscriptions</a></li>
										<li class="divider"></li>
										<li><a href="@narkRoutes.AlertsController.activeForUser()">Active Alerts</a></li>
										<li class="divider"></li>
										<li><a href="@narkRoutes.UsersController.addresses()">Edit Alert Addresses</a></li>
										<li class="divider"></li>
										<li><a href="@narkRoutes.AuthController.logout()">Logout</a></li>
									</ul>
								</li>
							} else {
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="@narkRoutes.AuthController.openidLogin()">Google OpenID</a></li>
									</ul>
								</li>
							}
						</ul>
					</div>
					<div class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="flash-container">
				@if(!request.flash.isEmpty) {
					<div id="flash-page" class="alert alert-@request.flash("level")">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>@request.flash("title")</strong>
						@request.flash("message")
					</div>
					<script type="text/javascript">
						$(document).ready(function() {
							setTimeout(function() {
								var element = $('#flash-page');
								element.fadeTo(2000, 0, function() {
									element.slideUp(400, function() {
										element.remove();
									});
								});
							}, 3000);
						});
					</script>
				}
			</div>

			@content

			<hr />
			<footer>
				<p class="muted"><a href="https://github.com/lucidchart/nark">Nark</a> version @AppVersioning.version &copy; Apache License Version 2.0</p>
			</footer>
		</div>

		<script type="text/javascript" src="@routes.Assets.at("jquery-ui-1.10.3/core/ui/minified/jquery-ui.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("bootstrap-2.3.2/js/bootstrap.min.js")"></script>
		@for(script <- scripts) {
			<script type="text/javascript" src="@routes.Assets.at(script)"></script>
		}
	</body>
</html>
