@(
)(
	implicit request: com.lucidchart.open.nark.request.AppRequest[_]
)
@import com.lucidchart.open.nark.controllers.routes
@import com.lucidchart.open.nark.views
@import play.api.i18n.Messages

@com.lucidchart.open.nark.views.html.layouts.main("Home") {
	<h3>Welcome to Nark!</h3>
	<div class="well">
		Nark was originally created by <a href="https://www.lucidchart.com/" target="_blank">Lucid Software Inc.</a>
		in reponse to a lack of alerting and dynamic dashboard options in the graphite ecosystem.
	</div>
}
