@(
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	userOption: Option[com.lucidchart.open.nark.models.records.User]
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views

@com.lucidchart.open.nark.views.html.layouts.main("Home", userOption = userOption) {
	<h3>Welcome to <a href="https://github.com/matthew-lucidchart/nark">Nark</a>!</h3>
	<div class="well">
		Nark was originally created by <a href="https://www.lucidchart.com/" target="_blank">Lucid Software Inc.</a>
		in reponse to a lack of alerting and dynamic dashboard options in the graphite ecosystem.
	</div>
}
