@(
	pagination: com.lucidchart.open.nark.models.records.Pagination[com.lucidchart.open.nark.models.records.SubscriptionRecord]
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.models.records.AlertType
@import com.lucidchart.open.nark.views.html.helpers
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Subscriptions", userOption = Some(user)) {

	<style type="text/css">
		a.btn {
			margin-left: 10px;
		}
	</style>
	<h3>Alert Subscriptions</h3>
	@helpers.paginationMaxPage(pagination.found, pagination.limit) { maxPage =>
		<div>
			<div class="row">
				<div class="span1" />
				<div class="span11">
					<div class="well">
						@if(pagination.matches.size == 0){
							<p class="lead text-info">You have no alert subscriptions.</p>
						} else {
							<table class="table">
								<thead>
									<tr>
										<th>Alert Name</th>
										<th>Target</th>
										<th>Error</th>
										<th>Warn</th>
										<th>Comparison</th>
										<th>Worst State</th>
										<th>Active</th>
									</tr>
								</thead>
								<tbody>
									@pagination.matches.map { subscription =>
										<tr>
											@helper.form(action=narkRoutes.SubscriptionsController.edit(subscription.alertOption.get.id, pagination.page)) {
											@helpers.csrfHiddenInput()
											<input type="hidden" name="alert_type" value="@subscription.subscription.alertType.id" />
											<input type="hidden" name="active" value="@(subscription.subscription.active == false)" />
												<td><a href="@narkRoutes.AlertsController.view(subscription.alertOption.get.id)">@subscription.alertOption.get.name</a></td>
												<td>@subscription.alertOption.get.target</td>
												<td>@subscription.alertOption.get.errorThreshold</td>
												<td>@subscription.alertOption.get.warnThreshold</td>
												<td>@subscription.alertOption.get.comparison</td>
												<td>@subscription.alertOption.get.worstState.toString</td>
												<td><input class="btn" type="submit" value="@if(subscription.subscription.active){Deactivate Subscription} else {Reactivate Subscription}" /></td>
											}
										</tr>
									}
								</tbody>
							</table>
						}
					</div>
				</div>
			</div>
		</div>
		@{ helpers.paginationLinks(pagination.page, maxPage) { i => narkRoutes.SubscriptionsController.allSubscriptionsForUser(i).toString } }
	}
}