@(
	formCreate:Form[_]
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper.twitterBootstrap._
@import helper._
@import play.api.libs.json.Json

@com.lucidchart.open.nark.views.html.layouts.main("Create Dashboard", List("js/jquery.tokeninput.js"), List("css/token-input-facebook.css"), userOption = Some(user)) {
	<script type="text/javascript">
		$(function() {
			var prevTags = [];
			if($("#tags").val().length > 0) {
				prevTags = $.map($("#tags").val().split(","), function (e, i) {
					return {"id": e, "name": e};
				});
			}
			$("#tags").tokenInput("/dashboard/tags/searchjson", {theme:"facebook", 
														prePopulate:prevTags});
			$("form").submit(function() {
				//put comma-separated list of tags into input
				$("#tags").val($.map($(".token-input-token-facebook p"), function(e, i){return $(e).text()}).join(","));
			});
		});

	</script>
	<h3>Create a new dashboard</h3>
	<br>

	<script type="text/javascript">
		$(document).ready(function() {
			var urlInput = $("#urlinput");
			var urlExample = $("#urlexample");

			function updateUrlExample() {
				urlExample.text("/d/" + encodeURIComponent(urlInput.val()));
			}

			urlInput.keypress(function(e) {
				setTimeout(updateUrlExample, 1);
			});
			updateUrlExample();
		});
	</script>

	@helper.form(action=narkRoutes.DashboardsController.createSubmit()) {
		<fieldset>
			@helpers.csrfHiddenInput()
			@helper.inputText(formCreate("name"), 'class -> "input-xlarge", '_label -> "Name", 'placeholder -> "Vitals", 'required -> true, '_showConstraints -> false, 'autofocus -> "true")
			@helper.inputText(formCreate("url"), 'id -> "urlinput", 'class -> "input-xlarge", '_label -> "URL", 'placeholder -> "vitals", 'required -> true, '_showConstraints -> false, 'helpInline -> "abc")
			<p class="help-block">
				The dashboard may be accessed at <span id="urlexample"></span>.
			</p>
			<br/>
			@helper.inputText(formCreate("tags"), 'id -> "tags", 'class -> "input-xlarge", '_label -> "Tags (separate by comma)", 'placeholder -> "ops", '_showConstraints -> false)

			<button id="create" name="create" class="btn btn-primary">Create</button>
		</fieldset>
	}
}
