@(
	dashboard: com.lucidchart.open.nark.models.records.Dashboard
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	userOption: Option[com.lucidchart.open.nark.models.records.User]
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views

@com.lucidchart.open.nark.views.html.layouts.main(dashboard.name, List("d3/d3.v3.min.js", "nv.d3.min.js", "dashboard.js", "daterangepicker.js", "moment.min.js", "graphite-host-search.js"), List("nv.d3.css", "daterangepicker-bs2.css"), userOption = userOption){
<script type="text/javascript">
	$(document).ready(function() {
		var refreshInterval = parseFloat($("input:radio[name='radios']:checked").val(), 10) * 60;
		var start_timestamp = parseInt(moment().subtract('hours', 1).format('X'), 10);
		var end_timestamp = parseInt(moment().format('X'), 10);
		var ctime = {};
		$('#graphrange').daterangepicker(
			{
				ranges: {
					'30 Min': [moment().subtract('minutes', 30), moment()],
					'1 Hour': [moment().subtract('hours', 1), moment()],
					'2 Hour': [moment().subtract('hours', 2), moment()],
					'3 Hour': [moment().subtract('hours', 3), moment()],
					'6 Hour': [moment().subtract('hours', 6), moment()],
					'12 Hour': [moment().subtract('hours', 12), moment()],
					'24 Hour': [moment().subtract('hours', 24), moment()],
					'Today': [moment().startOf('day'), moment()],
					'Yesterday': [moment().startOf('day').subtract('days', 1), moment().startOf('day')],
					'Last 7 Days': [moment().subtract('days', 6), moment()],
					'Last 30 Days': [moment().subtract('days', 29), moment()],
					'This Month': [moment().startOf('month'), moment().endOf('month')],
					'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
				},
				timePicker: true,
				timePickerIncrement: 30,
				format: 'MM/DD/YYYY h:mm A'
			},
			function(start, end) {
				$('#graphrange span').html(start.format('MMMM D, YYYY, h:mm A') + ' - ' + end.format('MMMM D, YYYY, h:mm A'));
				start_timestamp = parseInt(start.format('X'), 10);
				end_timestamp = parseInt(end.format('X'), 10);
				if (parseInt(moment().format('X'), 10) - end_timestamp > 60) {
					refreshInterval = -1 * 60; // never refresh since it ends in the past.
					clearTimeout(ctime);
					updateTimeout();
				}
				updateGraphs(start_timestamp, end_timestamp);
			}
		);

		$('#graphrange span').html(moment().subtract('hours', 1).format('MMMM D, YYYY, h:mm A') + ' - ' + moment().format('MMMM D, YYYY, h:mm A'));

		function updateGraphs(start, end) {
			var host = $('#host-input').val();
			var reverseHost = host.split(".").reverse().join(".")
			@dashboard.graphs.map { case graph =>
				@if(!graph.deleted && !graph.targets.isEmpty) {
					if (!start) {
						start = moment().subtract("hours", 1).format('X');
					}
					if (!end) {
						end = moment().format('X');
					}
					var targets = "@graph.targets.filter(!_.deleted).map(_.target).mkString("&target[]=")";
					targets = targets.replace(/\{HOSTNAME}/g, host).replace(/\{REVERSE_HOSTNAME}/g, reverseHost);
					var query = (targets == '') ? '' : "target[]=" + targets;
					var url = "/graphite/datapoints?" + query
					var isLinear = @{graph.typeGraph == com.lucidchart.open.nark.models.records.GraphType.normal}

					updateGraphHelper(url, isLinear, "graph-@graph.id.toString svg", start, end)
				}
			}
		}

		$("*[name='radios']").change(function(){
			refreshInterval = parseFloat($("input:radio[name='radios']:checked").val(), 10) * 60;
			clearTimeout(ctime);
			updateTimeout();
		});

		$('#use').click(function() {
			refresh();
		})

		var updateTimeout = function() {
			if (refreshInterval != -60) { // -1 * 60 is for never
				ctime = setTimeout(refresh, refreshInterval * 1000)
			}
		}

		var refresh = function() {
			start_timestamp = start_timestamp + refreshInterval;
			end_timestamp = end_timestamp + refreshInterval;
			$('#graphrange span').html(moment(start_timestamp * 1000).format('MMMM D, YYYY, h:mm A') + ' - ' + moment(end_timestamp * 1000).format('MMMM D, YYYY, h:mm A'));
			updateGraphs(start_timestamp, end_timestamp)
			updateTimeout()
		}

		updateTimeout();
		updateGraphs();
	});
</script>

	<h3>
		@dashboard.name
		@if(userOption.isDefined && userOption.get.id == dashboard.userId) {
			<a href="@narkRoutes.DashboardsController.manage(dashboard.id)" class="btn">Manage</a>
		}
	</h3>

	<div class="clearfix well">
		<h4>Options</h4>
		<div id="graphrange">
			<i class="icon-calendar icon-large"></i>
			<span></span> <b class="caret"></b>
		</div>
		<br>
		<style type="text/css">
			#host-input { width: 100%; }
		</style>
		<div class="controls">
			<input id="host-input" name="host-input" type="text" placeholder="Host Name" class="input-xlarge">
			<p class="help-block">Eg. example.company.com</p>
			<button id="use" name="use" class="btn btn-primary">Use</button>
		</div>
		<br>
		<label class="control-label" for="radios">Refresh Interval (In Mins)</label>
		<div class="controls">
			<label class="radio inline" for="radios-0">
				<input type="radio" name="radios" id="radios-0" value="0.5">
				0.5
			</label>
			<label class="radio inline" for="radios-1">
				<input type="radio" name="radios" id="radios-1" value="1" checked="checked">
				1
			</label>
			<label class="radio inline" for="radios-2">
				<input type="radio" name="radios" id="radios-2" value="2">
				2
			</label>
			<label class="radio inline" for="radios-3">
				<input type="radio" name="radios" id="radios-3" value="5">
				5
			</label>
			<label class="radio inline" for="radios-4">
				<input type="radio" name="radios" id="radios-4" value="10">
				10
			</label>
			<label class="radio inline" for="radios-5">
				<input type="radio" name="radios" id="radios-5" value="-1">
				Never
			</label>
		</div>
		<br>
		@dashboard.graphs.filter(!_.deleted).sortWith(_.sort > _.sort).map { case graph =>
			<div>
				<b>@graph.name</b>
				<style>
					#graph-@graph.id.toString svg {
						height: 400px;
					}
				</style>
				<div id="graph-@graph.id.toString">
					<svg></svg>
				</div>
			</div>
		}
	</div>
}
