@(
	dashboard: com.lucidchart.open.nark.models.records.Dashboard,
	graphs: List[com.lucidchart.open.nark.models.records.Graph],
	targets: List[com.lucidchart.open.nark.models.records.Target],
	tags: List[com.lucidchart.open.nark.models.records.Tag],
	owner: Option[com.lucidchart.open.nark.models.records.User],
	dataGranularitySeconds: Int
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	userOption: Option[com.lucidchart.open.nark.models.records.User]
)
@import play.api.libs.json.Json
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.models.records.Target
@import com.lucidchart.open.nark.models.records.Graph
@import com.lucidchart.open.nark.models.records.Dashboard
@import com.lucidchart.open.nark.utils.Graphite

@com.lucidchart.open.nark.views.html.layouts.main(dashboard.name, List("js/dashboard.js", "js/dygraph-helper.js", "jquery-timepicker-1.3.1/jquery-ui-timepicker-addon.js", "js/dygraph-combined.js"), List("css/dashboard.css", "jquery-timepicker-1.3.1/jquery-ui-timepicker-addon.css" ), userOption = userOption){
	<script type="text/javascript">
		var granularitySeconds = @dataGranularitySeconds;
		var autoIntervalPointsPerPixel = 0.25;
		var dashboard = @Html(views.models.dashboard(dashboard).toString);
		var dashKey = 'dashboard-' + dashboard['id'] + '-';
		var graphs = @Html(Json.toJson(graphs.filter(!_.deleted).map(views.models.graph(_))).toString);
		var targets = @Html(Json.toJson(targets.filter { target =>
			!target.deleted && graphs.foldLeft(true) { (active, graph) => 
				if (graph.id == target.graphId && graph.deleted) {
					false
				}
				else {
					active
				}
			}
		}.map(views.models.target(_))).toString);
		var graphiteBaseUrl = '@Graphite.baseUrl';

	</script>

	<h3>
		@dashboard.name
		@if(userOption.isDefined && userOption.get.id == dashboard.userId) {
			<a href="@narkRoutes.DashboardsController.manage(dashboard.id)" class="btn">Manage</a>
		}
		<a href="#" id="optiontoggler" class="btn">Options</a>
		<a href="#" id="refreshnow" class="btn">Refresh</a>
		<a href="#" id="infotoggler" class="btn">Info</a>
	</h3>
	<div class="clearfix">
		<div id="info-container" class="well container">
			<div class="row-fluid">
				<div class="span6">
					<div id="tags-group" class="field-container">
						<div class="form-inline">
							<label><strong>Tags</strong></label>
							<div class="info-group">
							@tags.map{dashboardTag =>
								<a href="@narkRoutes.DashboardTagsController.tag(dashboardTag.tag)" class="btn btn-mini">@dashboardTag.tag</a>
							}
							</div>
						</div>
					</div>
					<div id="owner-group" class="field-container">
						<div class="form-inline">
							<label><strong>Owner</strong></label>
							<div class="info-group">
								@if(owner.isDefined) {
									@owner.get.name
									<a href="mailto:@owner.get.email">@owner.get.email</a>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="options-container" class="well container">
			<div class="row-fluid">
				<div class="span6">
					<div id="column-group" class="field-container">
						<div class="form-inline">
							<label><strong>Columns</strong></label>
							<div class="btn-group">
								<button class="btn" data="1">1</button>
								<button class="btn" data="2">2</button>
								<button class="btn" data="3">3</button>
								<button class="btn" data="4">4</button>
								<button class="btn" data="5">5</button>
								<button class="btn" data="6">6</button>
							</div>
						</div>
					</div>
					<div id="refreshrate-group" class="field-container">
						<div class="form-inline">
							<label><strong>Refresh Rate</strong></label>
							<div class="btn-group">
								<button class="btn" data="disable">Disable</button>
							</div>
							<div class="btn-group">
								<button class="btn" data="30">30s</button>
								<button class="btn" data="60">1m</button>
								<button class="btn" data="12">2m</button>
								<button class="btn" data="300">5m</button>
								<button class="btn" data="600">10m</button>
								<button class="btn" data="1800">30m</button>
								<button class="btn" data="3600">1h</button>
							</div>
						</div>
					</div>
					<div id="daterange-group" class="field-container">
						<div class="form-inline">
							<label><strong>Time Range</strong></label>
							<div class="btn-group">
								<button class="btn" data="custom">Custom</button>
							</div>
							<div class="btn-group">
								<button class="btn" data="1800">30m</button>
								<button class="btn" data="3600">1h</button>
								<button class="btn" data="10800">3h</button>
								<button class="btn" data="21600">6h</button>
								<button class="btn" data="43200">12h</button>
								<button class="btn" data="86400">1d</button>
								<button class="btn" data="604800">7d</button>
								<button class="btn" data="2419200">28d</button>
								<button class="btn" data="7776000">90d</button>
								<button class="btn" data="31536000">1y</button>
							</div>
						</div>
					</div>
					<div id="custom-daterange-group" class="field-container" style="display: none">
						<div class="form-inline">
							<label><strong>Custom Dates</strong></label>
							<input type="text" id="custom-daterange-start-input" placeholder="Start Date">
							<input type="text" id="custom-daterange-end-input" placeholder="End Date">
						</div>
					</div>
					<div id="summarizer-group" class="field-container">
						<div class="form-inline">
							<label><strong>Data Interval</strong></label>
							<div class="btn-group">
								<button class="btn" data="auto">Auto</button>
								<button class="btn" data="all">All</button>
							</div>
							<div class="btn-group">
								<button class="btn" data="60">1m</button>
								<button class="btn" data="1800">30m</button>
								<button class="btn" data="3600">1h</button>
								<button class="btn" data="43200">12h</button>
								<button class="btn" data="86400">1d</button>
								<button class="btn" data="604800">7d</button>
								<button class="btn" data="2592000">30d</button>
							</div>
						</div>
					</div>
				</div>
				<div class="span6">
					<div id="variables-group" class="controls form-inline"></div>
				</div>
			</div>
		</div>
		<div id="allgraphs" class="clearfix">
			@graphs.filter(!_.deleted).sortWith(_.sort < _.sort).map { graph =>
				<div id="graph-@graph.id-wrapper" class="pull-left graph-wrapper">
					<div class="well">
						<div class="graph-container" id="graph-@graph.id.toString">
							<div class="graph-error alert-error"></div>
							<svg></svg>
						</div>
						<div class="graph-caption">
							<strong><span id='loading-@graph.id' class="loading-text" style='display:none'>(<i class='icon-refresh' ></i> Loading...)</span> @graph.name</strong><br />
							<a id='graph-link-@graph.id.toString' class='small-text' href='#' target="_blank">(Graphite)</a>
							<a class='small-text zoom-update' style="display:none;" href="#">(Set Custom Time)</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}
