@(
	formEdit: Form[_],
	dashboard: com.lucidchart.open.nark.models.records.Dashboard
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper.twitterBootstrap._
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Edit Dashboard", userOption = Some(user)) {
	<h3>Edit dashboard @dashboard.name</h3>
	<br>
	@helper.form(action=narkRoutes.DashboardsController.editSubmit(dashboard.id)) {
		<fieldset>
			@helpers.csrfHiddenInput()
			@helper.inputText(formEdit("name"), 'class -> "input-xlarge", '_label -> "Name", 'placeholder -> "Vitals", 'required -> true, '_showConstraints -> false)
			@helper.inputText(formEdit("url"), 'class -> "input-xlarge", '_label -> "URL", 'placeholder -> "vitals", 'required -> true, '_showConstraints -> false)
			<button id="edit" class="btn btn-primary">Save</button>
		</fieldset>
	}
}
