@(
	dashboard: com.lucidchart.open.nark.models.records.Dashboard,
	dashboards: List[com.lucidchart.open.nark.models.records.Dashboard]
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers

@com.lucidchart.open.nark.views.html.layouts.main("Home", userOption = Some(user), dashboards = dashboards) {
	<h3>Add a new graph to dashboard <a href="@narkRoutes.DashboardsController.dashboard(dashboard.url)">@dashboard.name</a></h3>
	<br>
	<form class="form-horizontal" action="@narkRoutes.GraphsController.add(dashboard.id)" method="post">
		<fieldset>

			@helpers.csrfHiddenInput()
			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="name">Name</label>
				<div class="controls">
					<input id="name" name="name" type="text" placeholder="My Graph" class="input-xlarge" required="">
					<p class="help-block">Eg. CPU</p>
				</div>
			</div>

			<!-- Text input-->
			<div class="control-group">
				<label class="control-label" for="sort">Sort</label>
				<div class="controls">
					<input id="sort" name="sort" type="text" placeholder="15" class="input-xlarge" required="">

				</div>
			</div>

			<!-- Select Basic -->
			<div class="control-group">
				<label class="control-label" for="type">Type</label>
				<div class="controls">
					<select id="type" name="type" class="input-xlarge">
						<option>Normal</option>
						<option>Stacked</option>
					</select>
				</div>
			</div>

			<!-- Button -->
			<div class="control-group">
				<label class="control-label" for="add"></label>
				<div class="controls">
					<button id="add" name="add" class="btn btn-primary">Add</button>
				</div>
			</div>

		</fieldset>
	</form>
}
