@(
	formAdd: Form[_],
	dashboard: com.lucidchart.open.nark.models.records.Dashboard
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper.twitterBootstrap._
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Create Graph", userOption = Some(user)) {
	<h3>Create new Graph in @dashboard.name</h3>
	<br>
	@helper.form(action=narkRoutes.GraphsController.addSubmit(dashboard.id)) {
		<fieldset>
			@helpers.csrfHiddenInput()
			@helper.inputText(formAdd("name"), 'class -> "input-xlarge", '_label -> "Name", 'placeholder -> "CPU", 'required -> true, '_showConstraints -> false)
			@helper.select(formAdd("type"), com.lucidchart.open.nark.models.records.GraphType.values.map(m => m.id.toString -> m.toString).toSeq, '_label -> "Type", '_showConstraints -> false)
			@helper.select(formAdd("axis"), com.lucidchart.open.nark.models.records.GraphAxisLabel.values.map(m => m.id.toString -> m.toString).toSeq, '_label -> "Y Axis Label", '_showConstraints -> false)
			<button id="add" class="btn btn-primary">Create</button>
		</fieldset>
	}
}
