@(
	formEdit: Form[_],
	graph: com.lucidchart.open.nark.models.records.Graph
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper.twitterBootstrap._
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Edit Graph", userOption = Some(user)) {
	<h3>Edit Graph @graph.name</h3>
	<br>
	@helper.form(action=narkRoutes.GraphsController.editSubmit(graph.id)) {
		<fieldset>
			@helpers.csrfHiddenInput()
			@helper.inputText(formEdit("name"), 'class -> "input-xlarge", '_label -> "Name", 'placeholder -> "CPU", 'required -> true, '_showConstraints -> false)
			@helper.select(formEdit("type"), com.lucidchart.open.nark.models.records.GraphType.values.map(m => m.id.toString -> m.toString).toSeq, '_label -> "Type", '_showConstraints -> false)
			<button id="edit" class="btn btn-primary">Save</button>
		</fieldset>
	}
}
