@(
	term: String,
	pagination: com.lucidchart.open.nark.models.records.Pagination[com.lucidchart.open.nark.models.records.Host]
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	userOption: Option[com.lucidchart.open.nark.models.records.User]
)
@import play.api.libs.json.Json
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Host Search", userOption = userOption) {
	<script type="text/javascript">
		$(document).ready(function() {
			var hosts = @Html(Json.toJson(pagination.matches.map(views.models.host(_))).toString);
			$.each(hosts, function(index, host) {
				var date = new Date(host['c']);
				$('#host-' + host['n']).text(date.toString());
			});
		});
	</script>

	<h3>Host Search</h3>
	<br>
	@helper.form(action=narkRoutes.HostsController.search()) {
		<fieldset>
			<div class="clearfix" id="search_field">
				<label for="term">Search</label>
				<div class="input">
					<input id="term" type="text" name="term" class="input-xlarge" placeholder="hostname.domain.com" value="@term" autofocus="true">
					<span class="help-block">Use '%' as a wildcard.</span>
				</div>
			</div>
			<button id="search" class="btn btn-primary">Search</button>
		</fieldset>
	}

	<h3>Search Results</h3>
	@helpers.paginationMaxPage(pagination.found, pagination.limit) { maxPage =>
		@if(pagination.matches.isEmpty) {
			<div class="alert alert-info">No hosts were found using your search term.</div>
		} else {
			<div class="results">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Host</th>
							<th>Last Check</th>
							<th>State</th>
						</tr>
					</thead>
					<tbody>
						@pagination.matches.map { host =>
							<tr>
								<td>@host.name</td>
								<td><span id="host-@host.name"></span></td>
								<td>@host.state.toString</td>
							</tr>
						}
					</tbody>
				</table>
				@{ helpers.paginationLinks(pagination.page, maxPage) { i => narkRoutes.HostsController.search(term, i).toString } }
	 		</div>
		}
	}
}
