@(
	formAdd: Form[_],
	graph: com.lucidchart.open.nark.models.records.Graph
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper.twitterBootstrap._
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Home", userOption = Some(user)) {
	<h3>Add a new target to graph @graph.name for dashboard <a href="@narkRoutes.DashboardsController.dashboard(graph.dashboard.url)">@graph.dashboard.name</a></h3>
	<br>
	@helper.form(action=narkRoutes.TargetsController.addSubmit(graph.id)) {
		<fieldset>
			@helpers.csrfHiddenInput()
			@helper.inputText(formAdd("target"), 'class -> "input-xlarge", 'placeholder -> "Graphite Target", '_label -> "Target", 'required -> true, '_showConstraints -> false)
			<p class="help-block">
				Eg. stats.counters.servers.com.lucidchart.mt.eiger.mongod.27018.insert.count<br />
				OR stats.counters.servers.{REVERSE_HOSTNAME}.mongod.27018.insert.count<br />
				OR stats.gauges.application.*.logins
			</p>
			<button id="add" name="add" class="btn btn-primary">Add</button>
		</fieldset>
	}
}
