@(
	formEdit: Form[_],
	target: com.lucidchart.open.nark.models.records.Target
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper.twitterBootstrap._
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Home", userOption = Some(user)) {
	<h3>Edit Target</h3>
	<br>
	@helper.form(action=narkRoutes.TargetsController.editSubmit(target.id)) {
		<fieldset>
			@helpers.csrfHiddenInput()
			@helper.inputText(formEdit("target"), 'class -> "input-xlarge", '_label -> "Target", 'required -> true, '_showConstraints -> false)
			<p class="help-block">
				Eg. stats.counters.servers.com.lucidchart.mt.eiger.mongod.27018.insert.count<br />
				OR stats.counters.servers.{REVERSE_HOSTNAME}.mongod.27018.insert.count<br />
				OR stats.gauges.application.*.logins
			</p>
			<button id="edit" name="edit" class="btn btn-primary">Edit</button>
		</fieldset>
	}
}
