@(
	formEdit: Form[_],
	target: com.lucidchart.open.nark.models.records.Target
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views
@import com.lucidchart.open.nark.views.html.helpers
@import helper.twitterBootstrap._
@import helper._

@com.lucidchart.open.nark.views.html.layouts.main("Edit Target", userOption = Some(user), scripts = List("js/graphite-metric-search.js", "js/dygraph-helper.js", "js/dygraph-combined.js"), styles = List()) {
	<style type="text/css">
		#target-input { width: 95%; }
	</style>
	<h3>Edit Target</h3>
	
	<br />
	<div class="row-fluid">
		<div class="span6">
			@helper.form(action=narkRoutes.TargetsController.editSubmit(target.id)) {
				<fieldset>
					@helpers.csrfHiddenInput()
					@helper.inputText(formEdit("name"), 'id -> "name-input", 'class -> "input-xlarge", 'placeholder -> "My Stuff", '_label -> "Name", 'required -> true, '_showConstraints -> false, 'autofocus -> "true")
					@helper.select(formEdit("summarizer"), com.lucidchart.open.nark.models.records.TargetSummarizer.values.map(m => m.id.toString -> m.toString).toSeq, '_label -> "Summarizer (when there are too many datapoints to show)", '_showConstraints -> false)
					@helper.inputText(formEdit("target"), 'id -> "target-input", 'class -> "input-xlarge", 'placeholder -> "stats.gauges.my.stuff", '_label -> "Target", 'required -> true, '_showConstraints -> false, 'autocomplete -> "off")
					<p class="help-block">
						Targets can have variable names in them (see <a href="https://github.com/lucidchart/nark#targets" target="_blank">docs</a>). For example:<br />
						stats.counters.<strong>%application|app1|app2|app3%</strong>.logins<br />
						stats.counters.<strong>%application=defaultapplication%</strong>.logins
					</p>
					<button id="edit" class="btn btn-primary">Save</button>
				</fieldset>
			}
		</div>
		<div class="span6">
			<div class="well">
				<style>
					#target-graph {
						height:400px;
					}
					#target-graph svg {
						height: 400px;
					}
				</style>

				<div id="target-graph">
					<p class="lead text-info text-center">Graph Preview (If Available)</p>
					<svg></svg>
				</div>
			</div>
		</div>
	</div>
}
