@(
	graph: com.lucidchart.open.nark.models.records.Graph
)(
	implicit
	request: com.lucidchart.open.nark.request.AppRequest[_],
	user: com.lucidchart.open.nark.models.records.User
)
@import com.lucidchart.open.nark.controllers.{routes=>narkRoutes}
@import com.lucidchart.open.nark.views

@com.lucidchart.open.nark.views.html.layouts.main("List Targets", userOption = Some(user)) {
	<h3>List of targets for graph @graph.name</h3>
	<br>

	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="target-table">
		<thead>
		<tr>
			<th>Target</th>
			<th>Active</th>
		</tr>
		</thead>
		<tbody>
		@graph.targets.map { case target =>
		<tr>
			@if(user.id == target.userId) {
				<td>@target.target&nbsp;&nbsp;&nbsp;<a href="@narkRoutes.TargetsController.edit(target.id)">edit</a></td>
				<td><a href="@narkRoutes.TargetsController.toggleActivation(target.id)?return_url=@request.path">@{!target.deleted}</a></td>
			} else {
				<td>@target.target</td>
				<td>@{!target.deleted}</td>
			}
		</tr>
		}
		</tbody>
	</table>

}
